.editorLayout {
  display: grid;
  grid-template-columns: auto 1fr; /* so it adapts when collapsed */
  height: 100%;
  min-height: 0;
}

.editorCanvas {
  min-width: 0;
  min-height: 0;
  background: #1e1e1e; /* VS Code dark */
}
